/* Custom Carousel */
.login-section {
    position: relative;
    top: -26px;
    margin-left:5%;
    margin-right:5%;
}

.custom-carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 95vh; /* Full screen height */
  }
  
  .custom-banner {
    width: 100%;
    height: 100%; /* Full height */
    object-fit: cover;
    position: absolute;
    transition: opacity 1.5s ease-in-out;
  }
  
  /* Smooth fade effect */
  .fade-in {
    animation: fadeEffect 1.5s;
  }
  
  @keyframes fadeEffect {
    0% { opacity: 0.3; }
    100% { opacity: 1; }
  }
  
  /* Login Card */
  .login-card {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Form Elements */
  .form-group {
    margin-bottom: 15px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .btn-secondary {
    background-color: #2867B2; /* LinkedIn Blue */
    color: #fff;
    border: none;
  }
  
  .btn-secondary:hover {
    background-color: #174779;
  }
  
  h3 {
    font-weight: bold;
  }

.req-astrix{
  color:red;
}

.alert {
  color: #fff !important;
}

/* You can add global styles to this file, and also import other style files */
button.btn.btn-primary, .btn:not(.close):not(.mfp-close).btn-primary, a.btn:not([href]):not([tabindex]).btn-primary {
  background-color: #2250fc;
  border-color: #2250fc;
}