<div class="reg-info-container">
    <div class="info-card">
        <div class="icon-container" [ngClass]="type">
            <svg *ngIf="type === 'success' || type === 'info'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" class="checkmark">
                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
            </svg>
            <svg *ngIf="type === 'error'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" class="cross">
                <circle class="cross__circle" cx="26" cy="26" r="25" fill="none"/>
                <path class="cross__check" fill="none" d="M16 16 36 36 M36 16 16 36"/>
            </svg>
        </div>
        <h2 class="message-title">{{ type === 'error' ? 'Something went wrong' : 'Thank You!' }}</h2>
        <p class="message-text">{{ message }}</p>
        
        <button class="home-btn" (click)="goHome()">Go to Home Page</button>
    </div>
</div>
