<!-- Footer -->
<footer id="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row gap-y">
                <div class="col-md-6 col-xl-4">
                    <p>
                        <a href="https://neolumina.in" target="_blank"><img class="footer-logo" src="https://www.tirwin.in/images/tirwin-logo.png" alt="logo"></a>
                    </p>
                    <p><b>Tirwin Talent</b> – A specialized webinar platform by <a href="https://www.tirwin.in/" target="_blank" rel="noopener"><b>TIRWIN Management PVT. LTD</b></a>, designed to empower logistics professionals.</p>
                    <p>
                        <a href="https://neolumina.in" target="_blank"><img class="footer-logo" src="assets/images/nts-logo.png" alt="logo"></a>
                    </p>
                    <p>In collaboration with <a href="https://neolumina.in" target="_blank"><b>Neolumina Technology Solutions</b></a> – Illuminating the Future.</p>
                </div>
                <div class="col-6 col-md-3 col-xl-2">
                    <!-- Footer widget area 1 -->
                    <div class="widget">
                        <h4>TIRWIN</h4>
                        <ul class="list">
                            <li><a href="#">About</a></li>
                            <li><a href="#">What we Offer</a></li>
                            <li><a href="#">Leadership</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <!-- end: Footer widget area 1 -->
                </div>
                <div class="col-6 col-md-3 col-xl-2">
                    <!-- Footer widget area 2 -->
                    <div class="widget">
                        <h4>INDUSTRY SOLUTIONS</h4>
                        <ul class="list">
                            <li><a href="#">Logistics & Supply Chain</a></li>
                            <li><a href="#">Freight Forwarding</a></li>
                            <li><a href="#">E-Commerce Logistics</a></li>
                            <li><a href="#">Warehouse Management </a></li>
                            <li><a href="#">Cold Chain Logistics </a></li>
                        </ul>
                    </div>
                    <!-- end: Footer widget area 2 -->
                </div>
                <div class="col-6 col-md-6 col-xl-2">
                    <!-- Footer widget area 3 -->
                    <div class="widget">
                        <h4>COMPANY</h4>
                        <ul class="list">
                            <li><a href="#">Press</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <!-- end: Footer widget area 3 -->
                </div>
                <div class="col-6 col-md-6 col-xl-2">
                    <!-- Social icons -->
                    <h5>FOLLOW US</h5>
                    <div class="social-icons social-icons-colored social-icons-rounded float-left">
                        <ul>
                            <li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li class="social-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-youtube"><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                    <!-- end: Social icons -->
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">
            <div class="copyright-text text-center">&copy; 2025 TIRWIN Management PVT. LTD All
                Rights Reserved.<a href="https://www.tirwin.in/" target="_blank" rel="noopener">TIRWIN</a>
            </div>
        </div>
    </div>
</footer>
<!-- end: Footer -->