<!-- Footer -->
<footer id="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row gap-y">
                <div class="col-md-6 col-xl-4">
                    <p>
                        <a href="https://tirwin.in" target="_blank"><img class="footer-logo" src="https://www.tirwin.in/images/tirwin-logo.png" alt="logo"></a>
                    </p>
                    <p><b>Tirwin Talent</b> – A specialized webinar platform by <a href="https://www.tirwin.in/" target="_blank" rel="noopener"><b>TIRWIN Management PVT. LTD</b></a>, designed to empower logistics professionals.</p>
                    
                </div>
                <div class="col-md-6 col-xl-4">
                <p>
                    <a href="https://neolumina.in" target="_blank"><img class="footer-logo" src="assets/images/nts-logo.png"
                            alt="logo"></a>
                            
                </p>
                <p>In collaboration with <a href="https://neolumina.in" target="_blank"><b>Neolumina Technology Solutions</b></a> –
                    Illuminating the Future.</p>
                </div>
                
                <div class="col-6 col-md-3 col-xl-2">
                    <!-- Footer widget area 1 -->
                    <div class="widget">
                        <h4>TIRWIN</h4>
                        <ul class="list">
                            <li><a routerLink="/about-us">About Us</a></li>
                            <li><a href="#">What we Offer</a></li>
                            <li><a routerLink="/leadership">Leadership</a></li>
                            <li><a href="#">Careers</a></li>
                                                          <li><a routerLink="/contact-us">Contact Us</a></li>
                            <li><a href="javascript:void(0)" (click)="navigateToTermsAndConditions()">Terms & Conditions</a></li>
                            <li><a href="javascript:void(0)" (click)="navigateToPrivacyPolicy()">Privacy Policy</a></li>
                            <li><a href="javascript:void(0)" (click)="navigateToPricingPolicy()">Pricing Policy</a></li>
                        </ul>
                    </div>
                    <!-- end: Footer widget area 1 -->
                </div>
                <div class="col-6 col-md-6 col-xl-2">
                    <!-- Social icons -->
                    <h5>FOLLOW US</h5>
                    <div class="social-icons social-icons-colored social-icons-rounded float-left">
                        <ul>
                            <li class="social-facebook"><a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-linkedin"><a href="https://www.linkedin.com/in/tirwin-talent-0a90aa31a/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="social-instagram"><a href="https://www.instagram.com/tirwin.management/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <!-- end: Social icons -->
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">
            <div class="copyright-text text-center">&copy; 2025 TIRWIN Management PVT. LTD All
                Rights Reserved.<a href="https://www.tirwin.in/" target="_blank" rel="noopener">TIRWIN</a>
            </div>
        </div>
    </div>
</footer>
<!-- end: Footer -->