<div class="banner d-flex align-items-center">
  <div class="banner-content">
    <h1 class="animate-title">{{ slide.title }}</h1>
    <p class="animate-description" [innerHTML]="slide.description"></p>
    <a href="about/logistics-industry.php" class="btn btn-primary scroll-to float-left">Login</a>
    <a href="about/logistics-industry.php" class="btn no-bg scroll-to float-left">Register</a>
  </div>
  <div class="banner-image">
    <img [src]="slide.image" alt="Banner Image" class="img-fluid">
  </div>
</div>